/* 
 * Gray: #f2f2f2
 * Blue: #0c6fad;
 */


 @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-Bold.woff') format('woff'),
         url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-Medium.woff') format('woff'),
         url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

html{
    font-size:16px;
    background:#0068a9;
}
/*
h1{
    font-size:3.5rem;
    color:#fff;
    line-height:4rem;
    margin:1rem 0 1.25rem;
    letter-spacing:0;
}*/

h2{
    font-size:.75rem;
    color:#0c6fad;
    letter-spacing:.025rem;
}

h3{
    font-size:.725rem;
    color:#b2b2b2;
    letter-spacing:.025rem;   
    margin:0;
}

button.btn{
    outline:0;
    box-shadow:none;
    background-color:transparent;
    border-radius:4px;
    overflow:hidden;
    padding:.5rem .625rem .4rem;
    margin:0 .25rem;
    border:.125rem solid #0068a9;
    color:#0068a9;
    text-transform:uppercase;
    cursor:pointer;
    font-size:1rem;
    line-height:.825rem;
    letter-spacing:.1rem;
    transition:background-color 0.25s linear;
}

button.btn:hover{
    background-color:#e8e8e8;
}

header{
    position:fixed;
    top:1.5rem;
    max-width:87.5rem;
    width:95%;
    z-index:555;
    left:50%;
    transform:translateX(-50%);
    font-family:'Gilroy', 'Arial', sans-serif;
}

header a.logo{
    display:block;
    width:auto;
    height:2.5rem;
    overflow:hidden;
}

header .logo img{
    height:24px;
    
}

header h1{
    font-size:12px;
    letter-spacing:0.15em;
    color:#fff;
    position:absolute;
    text-align:center;
    margin:0;
    top:50%;
    left:50%;
    font-weight:normal;
    transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
}

header #header-join{
    display:inline-block;
    letter-spacing:0.15em;
    color:#ffe000;
    font-size:12px;
    text-align:right;
    font-weight:normal;
    margin-top:.375rem;
}

.intro-color-block{
    height:30vh;
    width:100%;
    background:#f2f2f2;
}

#progress-bar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    border-bottom:1px solid #004696;
    height:.75rem;
    z-index:555;
}

#progress-bar-status{
    height:.75rem;
    background:#004696;
    max-width:0;
    width:100%;
    transition:max-width 0.5s ease-in-out;
}

#page-header,
#page-content{
    position:relative;
    width:42.5rem;
    max-width:90%;
    margin:0 auto;
}

#page-header{
    padding-top:4.5rem;
    text-align:center;
}

#page-header h1 span{
    display:block;
}

#page-header .avatar{
    position:absolute;
    height:6.5rem;
    width:6.5rem;
    top:-3.25rem;
    left:50%;
    margin-left:-3.25rem;
    border-radius:55px;
    border:.25rem solid white;
    overflow:hidden;
}

#page-header .avatar img{
    position:absolute;
    width:125%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

header .header-actions{
    position:absolute;
    width:auto;
    top:.5rem;
    right:0;
    text-align:center;
}

#page-shares{
    position:relative;
    display:inline-block;
    margin-left:.75em;
    margin-right:0;
}

#page-shares .share-links{
    position:absolute;
    visibility:hidden;
    top:1rem;
    padding-top:.5rem;
    left:50%;
    opacity:0;
    margin-left:-.625rem;
    transition:opacity 0.25s linear 0s, visibility 0s linear 0.25s;
}

#page-shares:hover .share-links{
    visibility:visible;
    opacity:1;
    transition:opacity 0.25s linear 0.05s, visibility 0s linear 0s;
}

#page-shares.fixed{
    position:fixed;
    top:1rem;
}

#page-shares div{
    display:block;
    font-size:12px;
    color:#fff;
    letter-spacing:.15em;
    margin-right:.5rem;
    font-weight:500;
    letter-spacing:0.125rem;
    vertical-align:middle;
    line-height:1.25rem;
}

#page-shares a{
    display:block;
    vertical-align:middle;
    margin-bottom:.5rem;
}

#page-shares img{
    width:1.25rem;
    vertical-align:middle;
}

#page-content{
    position:relative;
    margin:2.5rem auto 0;
}

#page-content p{
    line-height:1.75rem;
    margin-bottom:1.25rem;
}

#page-content .oversized-image{
    width:50.5rem;
    margin:2rem -4rem;
    /*DELETE THIS*/
    height:30rem;
    background:#f2f2f2;
}

#action-panel{
    position:relative;
    width:100%;
    height:calc(100vh - 4.25rem);
    margin:4.25rem 0 0;
    min-height:20rem;
    overflow:hidden;
}

#action-panel .slides, 
#action-panel .slides .slide{
    position:relative;
    width:100vw;
    height:calc(100vh - 4.25rem);
    overflow:hidden;
}

#action-panel .slides .slide .slide-content{
    position:relative;
    width:100%;
}

#action-panel .slides .slide:focus{
    outline:0;
    border:0;
}

#action-panel a.slide-nav{
    position:absolute;
    top:47.5%;
    transform:translateY(-50%);
    color:white;
    z-index:-1;
    opacity:0;
    height:4rem;
    width:2.5rem;
    line-height:100%;
    transition:opacity 0.25s linear;
}

#action-panel a.slide-nav{
    opacity:1;
    z-index:3;
}

#action-panel a.slide-nav:hover{
    opacity:1;
}

#action-panel a.slide-nav.slick-disabled{
    opacity:0;
}

#action-panel a.slide-nav span{
    position:absolute;
    left:0;
    right:0;
    text-align:center;
    top:50%;
    transform:translateY(-50%);
}

#action-panel a.slide-nav.slide-next{
    right:3rem;
    background-image:url(../images/next.png);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

#action-panel a.slide-nav.slide-prev{
    left:3rem;
    background-image:url(../images/prev.png);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

#action-panel .slides-pagination{
    position:absolute;
    bottom:-5rem;
    left:0;
    right:0;
    text-align:center;
    opacity:0;
    transition:all 0.5s;
}

.in-show #action-panel .slides-pagination{
    z-index:1;
    bottom:0;
    opacity:1;
}

#action-panel .slides-pagination ul{
    list-style:none;
    width:100%;
    margin:0;
    padding:0;
}

#action-panel .slides-pagination ul li{
    display:inline-block;
}

#action-panel .slides-pagination ul li button{
    text-indent:-55555px;
    background-color:transparent;
    height:.75rem;
    width:.75rem;
    border-radius:.75rem;
    margin:0 .25rem;
    padding:0;
    border:2px solid #fff;
    transition:background-color 0.25s linear;
}

#action-panel .slides-pagination ul li.slick-active button{
    background-color:#f2f2f2;
}

#action-panel .slides-pagination ul li button:focus{
    outline:0;
}

/*Slide Content*/
#action-panel .slide .slide-content .are-you-game{
    width:40rem;
    margin:0 auto;
    max-width:90%;
    text-align:center;
}

#action-panel .slide .slide-content .are-you-game p{
    font-size:1.5rem;
    line-height:1.75rem;
    margin-bottom:2.5rem;
}

#action-panel .image-fixed img{
    height:100%;
    opacity:0;
}

#action-panel .image-fixed.visible img{
    opacity:1;
}

#action-panel .image-fixed.fade img{
    opacity:0;
}

#action-panel .gif{
    display:block;
    opacity:0;
    max-height:60vh;
    margin: 0 0 2rem 50%;
    transform: translateX(-50%);
}

#action-panel .slide-text{
    max-width:70rem;
    width:90%;
    margin:0 auto;
    color:#fff;
    font-family: Georgia serif;
    line-height:155%;
    font-size:1.2rem;
    letter-spacing:0.015em;
    text-align:center;
}

input{
    height:35px;
    width:100%;
    border-radius:3px;
    background:white;
}

button[type="submit"]{
    border:yellow;
    border-radius:3px;
    background:transparent;
    outline:0;
}

@media(max-width:640px){
    html{
        font-size:14px;
    }

    header{
        top:.5rem;
    }

    header h1{
        font-size:12px;
        position:relative;
        float:left;
        top:auto;
        left:auto;
        margin-top:.375rem;
        transform:translate(0,0);
        width:calc(100% - 5.5rem);
    }

    header a.logo{
        width:1.825rem;
        height:1.825rem;
        float:left;
        margin-right:.5rem;
    }

    #progress-bar{
        top:auto;
        bottom:0;
        border-top:2px solid #004696;
        border-bottom:0;
        height:1.5rem;
    }

    #progress-bar-status{
        height:1.5rem;
    }

    #page-shares{
        display:none;
    }

    #page-header h1 span{
        display:inline;
    }

    #action-panel a.slide-nav{
        top:100%;
        transform:translateY(-100%);
        height:3.75rem;
        width:3rem;
        left:auto;
        right:0;
    }

    #action-panel .gif{
        max-height:45vh;
    }

    #action-panel .slides .slide .slide-content{
        position:relative;
        top:auto;
        transform:translateY(0);
    }

    #action-panel .slide-text{
        font-size:1.5rem;
        text-align:left;
        line-height:2rem;
    }

    #action-panel a.slide-nav{
        display:none !important;
    }

    #action-panel a.slide-nav.slide-prev{
        top:calc(100% - 4.25rem);
        left:auto;
        right:0;
    }

    #page-content .oversized-image{
        width:105%;
        margin:2rem -2.5%;
    }
}

@media(max-width:440px){
    html{
        font-size:11px;
    }
}

@media(max-height:600px){
    #action-panel .slides .slide .slide-content{
        position:relative;
        top:auto;
        transform:translateY(0);
    }
}